#navbar{
    margin: 1px;
    padding: 2px;

    background-color: paleturquoise;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

#logo{
    display: block;
    width: 70px;
    height: auto;
}